div.review div.text-container {
    font-size: 1.2rem;
    font-weight: 350;
    font-style: italic;
    position: relative;
}

div.review div.text-container > p {
    line-height: 1.5em;
    position: relative;
    z-index: 1;
}

div.review img {
    height: 3rem;
    position: absolute;
    opacity: 0.16;
    user-select: none;
}

div.review img.left-quote {
    top: -1.8rem;
    left: -1.2rem;
}

div.review img.right-quote {
    bottom: -0.3rem;
    right: -0.8rem;
}

div.review p.name {
    font-size: 1.2rem;
    font-weight: 600;
}

div.review span {
    margin: 0 1rem;
    position: relative;
    bottom: 0.04em;
    font-size: 2.3rem;
    font-weight: 100;
}

div.review p.location {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}
