div.about-landing {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;
	background-color: var(--faded-blue);
}

div.about-landing > img {
	height: 10rem;
}

div.about-landing h1 {
	text-align: center;
}

div.five-stars {
	display: flex;
	gap: 3rem;
}

img.star {
	height: 2rem;
}
