div.profile {
    display: flex;
    /* font-size: 1.2rem; */
    margin-bottom: 120px;
}

div.profile > div {
    gap: 2rem;
}

div.profile.right > div {
    flex-direction: row-reverse;
}

div.profile img {
	height: 23rem;
	border: 0.5rem solid var(--dark-blue);
}

div.profile div.content {
    display: flex;
    flex-direction: column;
}

div.profile h2 {
    font-size: 2.2rem;
}

div.profile h3 {
    font-size: 1.1rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

div.profile p.nmls {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5%;
    color: var(--light-blue);
    margin-bottom: 2rem;
}

div.profile a.inline-link {
    color: var(--light-blue);
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    div.profile.left > div, div.profile.right > div {
        flex-direction: column;
    }

    div.profile img {
        width: 100%;
        max-width: 300px;
        height: initial;
        align-self: center;
    }

    div.profile div.content {
        align-items: center;
    }

    div.profile div.heading * {
        text-align: center;
    }

    div.profile h3 {
        margin-bottom: 1.5rem;
    }

    div.description {
        max-width: 400px;
    }

    div.description * {
        text-align: justify;
    }
}
