section.loan-category {
    padding: min(150px, 20vw) 0;
}

section.loan-category.dark {
    color: white;
    background-color: var(--dark-blue);
}

section.loan-category div.banner-heading {
    margin-bottom: min(75px, 10vw);
}

section.loan-category.dark div.banner-heading h2 {
    color: var(--faded-blue);
}

section.loan-category.dark div.banner-heading div.background {
    background-color: var(--light-blue);
}

div.loan-products {
    flex-direction: column;
    gap: 40px;
}
