section.reviews-section {
    height: 43rem;
    background-color: #e8e8e8;
}

div.reviews-panel > div {
    width: 45%;
}

div.reviews-panel div.left {
    padding: 6rem 0;
}

div.reviews-panel h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    color: var(--light-blue);
}

div.reviews-panel ul {
    padding: 1rem;
    background-color: var(--faded-blue);
}

div.reviews-panel li {
    margin-left: 2rem;
}

div.reviews-panel div.right {
    padding: 3.5rem 0;
}
