section.reviews-section {
    background-color: var(--faded-blue);
    /* background-color: #e8e8e8; */
}

div.reviews-panel {
    height: 43rem;
}

div.reviews-panel > div {
    width: 45%;
}

div.reviews-panel div.left {
    gap: 4.5rem;
}

div.reviews-panel h3 {
    font-size: 1.5rem;
}

div.reviews-panel ul {
    padding: 1rem;
    background-color: var(--faded-blue);
}

div.reviews-panel li {
    margin-left: 0rem;
}

div.reviews-panel div.right {
    padding: 2.5rem 0;
}

div.reviews-container {
    flex-grow: 1;
}
