section.reviews-section {
    background-color: var(--faded-blue);
    /* background-color: #e8e8e8; */
}

div.reviews-panel {
    height: 44rem;
}

div.reviews-panel > div {
    width: 45%;
}

div.reviews-panel div.left {
    gap: 4.5rem;
}

div.reviews-panel h3 {
    font-size: 1.5rem;
}

div.reviews-panel ul {
    padding: 1rem;
    background-color: var(--faded-blue);
}

div.reviews-panel li {
    margin-left: 0rem;
}

div.reviews-panel div.right {
    padding: 2.5rem 0;
}

div.reviews-container {
    flex-grow: 1;
}

@media screen and (max-width: 1200px) {
    div.reviews-panel div.left {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    div.reviews-panel {
        height: initial;
        padding: min(11vw, 65px) 0;
        flex-direction: column;
    }

    div.reviews-panel > div {
        width: 100%;
    }

    div.reviews-panel div.left {
        margin-bottom: 5rem;
    }

    div.reviews-panel div.right {
        height: 32rem;
        padding: 0;
    }
}
