section.about-text {
    padding-top: min(175px, 15vw);
    margin-bottom: min(175px, 25vw);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

section.about-text p {
    font-size: 1.2rem;
    text-align: justify;
}

section.about-text a {
    margin-top: 1rem;
}
