div.home-landing {
    /* height: 650px; */
    height: 32rem;
    padding: 75px 0;
    position: relative;
    display: flex;
    overflow: hidden;
}

div.home-landing div.landing-text {
    position: relative;
    left: 20%;
    color: white;
    z-index: 1;
}

div.home-landing h1 {
    margin-bottom: 1.5rem;
}

div.home-landing p {
    max-width: 34rem;
    font-size: 1.3rem;
    font-weight: 350;
    margin-bottom: 2rem;
}

div.home-landing img {
    width: 100%;
    height: 190%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 30% 40%;
}

@media screen and (max-width: 1200px) {
    div.home-landing div.landing-text {
        left: 12%;
    }
}

@media screen and (max-width: 700px) {
    div.home-landing {
        padding: 50px var(--side-padding);
        justify-content: center;
    }

    div.home-landing div.landing-text {
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    div.home-landing img {
        height: 200%;
    }
}
