div.home-landing {
    height: 600px;
    position: relative;
}

div.landing-text {
    position: relative;
    top: 75px;
    right: 12%;
    color: white;
    z-index: 1;
}

div.landing-text h1 {
    margin-bottom: 1.5rem;
}

div.landing-text p {
    max-width: 550px;
    font-size: 1.4rem;
    font-weight: 350;
    margin-bottom: 2rem;
}

div.home-landing img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center 58%;
}
