a.arrow-link {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 350;
    text-decoration: underline;
    transition: font-weight 0.1s, letter-spacing 0.1s;
}

a.arrow-link.small {
    font-size: 1.2rem;
    font-weight: 400;
    gap: 0.7rem;
}

a.arrow-link svg {
    height: 1rem;
    transition: transform 0.25s;
}

a.arrow-link.small svg {
    height: 0.8rem;
}

a.arrow-link:hover {
    font-weight: 500;
}

a.arrow-link.small:hover {
    letter-spacing: 0.01em;
}

a.arrow-link:hover svg {
    transform: translateX(0.2em);
}
