footer {
    padding: min(120px, 20vw) 0 50px 0;
    color: white;
    background-color: var(--dark-blue);
}

div.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: min(100px, 15vw);
}

div.footer-content > div {
    display: flex;
    flex-direction: column;
}

div.footer-content div.left {
    gap: 50px;
}

footer h2 {
    position: relative;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
    text-wrap: nowrap;
}

footer h2 span {
    position: relative;
    z-index: 1;
}

footer h2::after {
    width: 112%;
    height: 0.9em;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    background-color: var(--light-blue);
}

div.office {
    --offset: 1.3rem;
    position: relative;
    left: var(--offset);
}

div.office::before {
    width: 0.5rem;
    height: 100%;
    position: absolute;
    left: calc(var(--offset) * -1);
    content: "";
    background-color: var(--light-blue);
}

div.office h3 {
    font-size: 1.5rem;
}

div.office p {
    font-weight: 330;
}

div.links {
    gap: 1rem;
}

div.footer-content div.right {
    align-items: flex-end;
}

div.right img.equal-housing {
    height: 6rem;
    margin-bottom: 4rem;
}

div.contact {
    align-items: flex-end;
    gap: 1rem;
}

div.footer-content div.right h3 span {
    position: relative;
    z-index: 1;
}

div.footer-content div.right h3::after {
    width: 130%;
    height: 0.7em;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    background-color: var(--light-blue);
}


div.footer-content div.right a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    transition: letter-spacing 0.1s;
}

div.footer-content div.right a:hover {
    letter-spacing: 0.07em;
    text-decoration: underline;
}

div.footer-content div.contact img {
    width: 1.4rem;
}

div.copyright img {
    height: 4.5rem;
    margin-bottom: 0.7rem;
}

div.copyright p {
    font-size: 0.7rem;
}

@media screen and (max-width: 900px) {
    div.footer-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    div.footer-content div.right {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 50px;
    }

    div.contact {
        align-items: flex-start;
    }

    div.footer-content div.right h3::after {
        left: 0;
        right: initial;
    }
}

@media screen and (max-width: 700px) {
    footer h2 {
        font-size: 2.2rem;
    }

    footer h3 {
        font-size: 1.9rem;
    }
}
