* {
    margin: 0;
    padding: 0;
}

/*
.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
*/

:root {
    --dark-blue: #303548;
    --light-blue: #4A597E;
	--transparent-blue: #4A597E22;
	--faded-blue: #e7e9ee;
	--max-width: 1400px;
	--max-width-small: 900px;
    --side-padding: 8vw;
}

/* Colors */
.light {
    background-color: white;
    color: var(--dark-blue);
}

.dark {
    color: white;
    background-color: var(--dark-blue);
}

/* Sizing & Positioning */
.w-100 { width: 100%; }
.h-100 { height: 100%; }

.max-w-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.max-w {
	width: min(calc(100% - var(--side-padding) * 2), var(--max-width));
	max-width: var(--max-width);
	display: flex;
}

.max-w-small {
	width: min(calc(100% - var(--side-padding) * 2), var(--max-width-small));
	max-width: var(--max-width-small);
	display: flex;
}

.relative { position: relative; }
.absolute { position: absolute; }
.absolute-0 {
	top: 0;
	left: 0;
	position: absolute;
}

.mb-1 { margin-bottom: 0.1em; }
.mb-2 { margin-bottom: 0.2em; }
.mb-3 { margin-bottom: 0.3em; }
.mb-4 { margin-bottom: 0.4em; }
.mb-5 { margin-bottom: 0.5em; }

/* Flexbox */
.flex { display: flex; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
.column { flex-direction: column; }

/* Text Properties */

/* Elements */

h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 7%;
}

h2 {
    font-size: 2.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.5em;
}

ul {
	line-height: 2em;
}

:target {
    scroll-margin-top: 150px;
}

html {
	font-family: "Roboto"; /*Variable Weight*/
    font-size: 16px;
	font-weight: 400;
}

body {
    color: var(--dark-blue);
    background-color: white;
}
