* {
    margin: 0;
    padding: 0;
}

/*
.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
*/

:root {
    --dark-blue: #303548;
    --light-blue: #4A597E;
	--faded-blue: #4A597E22;
	--faded-blue-new: #cfd1d7;
	--max-width: 1400px;
    --side-padding: 8vw;
}

/* Sizing & Positioning */
.w-100 { width: 100%; }
.h-100 { height: 100%; }

.max-w-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.max-w {
	width: min(calc(100% - var(--side-padding) * 2), var(--max-width));
	max-width: var(--max-width);
	display: flex;
}

.relative { position: relative; }
.absolute { position: absolute; }
.absolute-0 {
	top: 0;
	left: 0;
	position: absolute;
}

/* Flexbox */
.flex { display: flex; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
.column { flex-direction: column; }

/* Elements */

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.5em;
}

ul {
	line-height: 2em;
}

html {
	font-family: "Roboto"; /*Variable Weight*/
    font-size: 16px;
	font-weight: 400;
}

body {
    color: var(--dark-blue);
    background-color: white;
}
