a.profile-link {
	padding: 0.3rem 1.1rem 0.3rem 0.8rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: 5%;
	color: var(--light-blue);
	background-color: var(--faded-blue);
	outline: 0 solid var(--faded-blue);
	transition: outline-width 0.1s ease-out;
}

a.profile-link:hover {
	outline-width: 0.3rem;
}

a.profile-link img {
	height: 3.3rem;
	border: 0.3rem solid var(--transparent-blue);
	border-radius: 50%;
}
