div.reveiws-landing {
    padding: 125px 0;
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--faded-blue);
}

div.reveiws-landing div.title-card {
    position: relative;
    z-index: 1;
}

div.reveiws-landing img {
	object-position: 80% 25%;
}

div.reveiws-landing div.title-card p {
    max-width: 45rem;
}
