div.landing-container {
    height: 500px;
    /* background-image: url('../../../assets/house.png'); */
    background-image: url('../../../assets/houses.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center 15%; */
    background-position: center 53%;
}

div.landing-text {
    position: relative;
    top: 75px;
    right: 10%;
    color: white;
}

div.landing-text h1 {
    margin-bottom: 1.5rem;
}

div.landing-text p {
    max-width: 550px;
    font-size: 1.4rem;
    font-weight: 350;
    margin-bottom: 2rem;
}
