a.zillow-button {
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--light-blue);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 350;
    letter-spacing: 0.1em;
    color: var(--light-blue);
    background-color: white;
    transition: color 0.2s, background-color 0.4s, border-color 0.2s;
}

a.zillow-button:hover {
    color: var(--dark-blue);
    background-color: var(--faded-blue);
    border-color: var(--dark-blue);
}

img.zillow-logo {
    height: 2.2rem;
    position: relative;
    bottom: 0.1rem;
}
