section.about {
    padding: 4rem 0;
    background-color: white;
}

section.about > div {
    gap: 4rem;
}

section.about div.img {
    height: 20rem;
    width: 50%;
}

section.about div.img img {
    height: 100%;
	border: 0.5rem solid var(--faded-blue);
}

section.about div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 36rem;
}
