section.about {
    padding: 4rem 0;
    background-color: white;
}

section.about > div {
    gap: 4rem;
}

section.about div.img {
    width: 100%;
    min-width: 50%;
}

section.about div.img img {
    width: 100%;
    max-width: 30rem;
    aspect-ratio: 976 / 667;
	border: 0.5rem solid var(--faded-blue);
}

section.about div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 36rem;
}

@media screen and (max-width: 550px) {
    section.about > div {
        flex-direction: column;
        gap: 4rem;
    }
}
